body {
    background-image: url(../img/partidos.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    float: right;
    width: 60%;
    text-align: center;
    
}
h1{
    color: rgba(59, 12, 44, 0.935);
    font-size: 5rem;
    margin-left: 20%;
}
a{
    text-decoration: none;
    color: rgba(59, 12, 44, 0.935);
    font-size: 4rem;
    margin-left: 20%;
}
a:hover{
    color: red;
}
@media (max-width: 800px) {
    body {
        background-image: url(../img/celu.jpg);
        background-size:cover;
    }
    div{
        float: none;
        width: 100%;
        text-align: left;
    }
    h1{
        font-size: 3rem;
    }
    a{
        font-size: 2rem;

    }

}
